.rainbow {
  --primary-color: hsl(281, 0%, 34.3%);
  --bg-color: linear-gradient(193.68deg,rgb(255, 255, 255)  0.68%, rgb(226, 238, 248) 56.4%, rgb(250, 210, 238) 100.48%);
  --text-color: hsl(281, 10%, 24.3%);
  --link-color: hsl(281, 50%, 54.3%);
  --heading-color: hsl(281, 0%, 34.3%);
  --border-color: hsl(281, 50%, 94.3%);
  --header-bg: rgb(249, 245, 252);
}
